
<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">All Jobs for <strong><%= @company.name %></strong></h3>
    <h5 class="text-center"><%= link_to "Add A Job", new_company_job_path(@company, @jobs) %></h5>
    <div class="row">

      <% @company.jobs.each do |job| %>
      <div class="col-md-4">
        <ul class="job_<%= job.id %>"><strong>  <%= link_to job.title, company_job_path(@company, job) %> </strong><br>
          <small> <%= link_to "Edit Job", edit_company_job_path(@company, job) %> </small>
          <small> <%= link_to "Delete Job", company_job_path(@company, job), method: :delete %> </small>
        </ul>
      </div>
      <% end %><br>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">Contacts at <%= @company.name %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Contact Name</th>
          <th>Title</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each.with_index do |contact, i| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.title %></td>
          <td><%= contact.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="new-company-form-jobs-index">
  <h4>Add New Company Contact</h4>
  <%= render partial: 'contacts/form' %>
</div>
